<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
    <!-- <link rel="shortcut icon" href=""> -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

  </head>
  <!-- <script src="pixi.js"></script> -->

  <body class="bg-light">
    <div class="container">
      <div class="py-5 text-center">
        <h2>How much do you value?</h2>
        <p class="lead">Indicate your valuation for each room in the apartment</p>
      </div>
      <div class="row">
        <div class="col-md-5 order-md-2 mb-4">
          <form class="needs-validation" novalidate>
            <div class="input-group">

            <div class="table-responsive">
            <table class="table table-striped table-md">
              <thead>
                  <tr>
                    <th>Name</th>
                    <th>Room1</th>
                    <th>Room2</th>
                    <th>Room3</th>
                  </tr>
              </thead>
              <tbody>
                  <tr>
                    <td class="col-md-2 mb-3">
                      <input type="text" class="form-control" id="p1name" placeholder="" value="" required>
                    </td>
                    <td class=" col-md-2 mb-3">
                      <input type="text" class="form-control" id="p1room1" placeholder="" value="" required>
                    </td>
                    <td class=" col-md-2 mb-3">
                      <input type="text" class="form-control" id="p1room2" placeholder="" value="" required>
                    </td>
                    <td class=" col-md-2 mb-3">
                      <input type="text" class="form-control" id="p1room3" placeholder="" value="" required>
                    </td>
                  </tr>
                  <tr>
                    <td class=" col-md-2 mb-3">
                      <input type="text" class="form-control" id="p2name" placeholder="" value="" required>
                    </td>
                    <td class=" col-md-2 mb-3">
                      <input type="text" class="form-control" id="p2room1" placeholder="" value="" required>
                    </td>
                    <td class=" col-md-2 mb-3">
                      <input type="text" class="form-control" id="p2room2" placeholder="" value="" required>
                    </td>
                    <td class=" col-md-2 mb-3">
                      <input type="text" class="form-control" id="p2room3" placeholder="" value="" required>
                    </td>
                  </tr>
                  <tr>
                    <td class=" col-md-2 mb-3">
                      <input type="text" class="form-control" id="p3name" placeholder="" value="" required>
                    </td>
                    <td class=" col-md-2 mb-3">
                      <input type="text" class="form-control" id="p3room1" placeholder="" value="" required>
                    </td>
                    <td class=" col-md-2 mb-3">
                      <input type="text" class="form-control" id="p3room2" placeholder="" value="" required>
                    </td>
                    <td class=" col-md-2 mb-3">
                      <input type="text" class="form-control" id="p3room3" placeholder="" value="" required>
                    </td>
                  </tr>
              </tbody>
            </table>

            <button class="btn btn-primary btn-lg btn-block" id="btn">Submit</button>
            </div>

          </div>

          </form>

          </div>
           </div>
      </div>
    </div>
    <div id="display"></div>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>

    <!-- <script src="slideshow.js"></script> -->
    <script>


function clicked() {
    var agent_to_valuations = {};
    var p1name = document.getElementById('p1name').value;
    var p1vals = [];
    var p1room1 = parseFloat(document.getElementById('p1room1').value);
    p1vals.push(p1room1);
    var p1room2 = parseFloat(document.getElementById('p1room2').value);
    p1vals.push(p1room2);
    var p1room3 = parseFloat(document.getElementById('p1room3').value);
    p1vals.push(p1room3);
    agent_to_valuations[p1name] = p1vals

    var p2name = document.getElementById('p2name').value;
    var p2vals = [];
    var p2room1 = parseFloat(document.getElementById('p2room1').value);
    p2vals.push(p2room1);
    var p2room2 = parseFloat(document.getElementById('p2room2').value);
    p2vals.push(p2room2);
    var p2room3 = parseFloat(document.getElementById('p2room3').value);
    p2vals.push(p2room3);
    agent_to_valuations[p2name] = p2vals

    var p3name = document.getElementById('p3name').value;
    var p3vals = [];
    var p3room1 = parseFloat(document.getElementById('p3room1').value);
    p3vals.push(p3room1);
    var p3room2 = parseFloat(document.getElementById('p3room2').value);
    p3vals.push(p3room2);
    var p3room3 = parseFloat(document.getElementById('p3room3').value);
    p3vals.push(p3room3);
    agent_to_valuations[p3name] = p3vals

    var response =  { "n": 3, "total_rent": 1000, "method": "PriceFairnessMethod", "agent_to_valuations" : agent_to_valuations}

    // let form = document.createElement('form');
    // form.action = 'https://google.com/search';
    // form.method = 'GET';
    //
    // form.innerHTML = '<input name="q" value="test">';

    // the form must be in the document to submit it


    doWork(response)
}

function doWork(response) {
  // ajax the JSON to the server
  $.post("receiver", JSON.stringify(response), function(){
     
  });
  // stop link reloading the page
 event.preventDefault();
}

document.getElementById('btn').addEventListener('click', clicked);

    </script>

  </body>
</html>

<style>* {padding: 0; margin: 0}</style>

<!-- <script src="js/lib/pixi.min.js"></script> -->



<!-- <a href="" id="theButton">Click Me</a> -->
