<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
    <!-- <link rel="shortcut icon" href=""> -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <!-- <script src="jquery-3.3.1.min.js"></script> -->
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='css/style.css') }}">
  </head>
  <!-- <script src="pixi.js"></script> -->
  <body class="bg-light">
    <div class="container" id="setup">
      <div class="py-5 text-center">
      <h1 class="display-4">Free the Envy</h1>
      <p class="lead mt-3">We will help you to divide rent among roommates, <br> with <highlight> your definition of fairness  </highlight>into account!</p>
      <form class="needs-validation" novalidate>
      </div>
      <div class="py-5 text-center">
          <h4 class="my-0 font-weight-normal">What is the house's total rent?</h4>
          <p class="lead">Let's split this $ well!</p>
          <div class="col-xs-4" >
                  <input type="text" class="form-control" id="totalRent" placeholder="ex) 1000"/>
                  <div class="invalid-feedback" style="width: 100%;">
                      Please specify the total rent $
                  </div>
          </div>
          <br>
          <br>


          <h4 class="my-0 font-weight-normal">What rooms do we have?</h4>
          <p class="lead">Give each room a name</p>
        <div class="col-xs-4" id="roomnames">
            <div class="mb-3">
              <input type="text" class="form-control" id="roomname1" placeholder="ex) master bedroom" required>
              <div class="invalid-feedback">
                  Please list all room
              </div>
            </div>
            <div class="mb-3">
              <input type="text" class="form-control" id="roomname2" placeholder="ex) Cupboard Under the Stairs" required>
              <div class="invalid-feedback">
                  Please enter room name
              </div>
            </div>
        </div>
        <button type="button" class="btn btn-secondary btn-lg" id="roomnameBtn" onclick="addRow()" >+</button>
      </div>
      <button type="button" class="btn btn-primary btn-lg btn-block mb-3" id="setupBtn" onclick="setup()" >Submit</button>
    </form>
    </div>
      <div class="container hidden" id="valuation">
        <div class="py-5 text-center">
          <h4 class="display-4">Let's do some bidding</h4>
          <p class="lead">Take turns to allocate the total rent to rooms - <br> how much valuation do you give to each? </p>
          <p class="muted">Valuations should <mark>add up to the total rent!</mark></em></p>
          <p class="muted">Note: If you decide to prioritize price or room, one can be compensated for the other</p>
        </div>
        <div class="mb-3 text-center" id="valueAccordion"> </div>
        <br>
        <br>
        <div class="mb-3 text-center">
            <h5 class="display-4">Method</h5>
              <p class="lead">Which property you want the result to be fairer in? </p>
              <select class="form-control form-control-md" id="method">
                  <option>Priority</option>
                  <option>Demand</option>
                  <option>Price</option>
                  <option>Utility</option>
                </select>
              <ul class="list-group mt-3 list-group-flush">
                <li class="list-group-item">
                  <h6 class="my-0">Priority</h6>
                  <small class="text-muted">What do each person care more? Price or room?</small>
                </li>
              </ul>
              <ul class="list-group list-group-flush">
                <li class="list-group-item">
                  <h6 class="my-0">Demand</h6>
                  <small class="text-muted">How popular is each room?</small>
                </li>
              </ul>
              <ul class="list-group list-group-flush">
                <li class="list-group-item">
                  <h6 class="my-0">Price</h6>
                  <small class="text-muted">How not to rip someone off in price?</small>
                </li>
              </ul>
              <ul class="list-group list-group-flush">
                <li class="list-group-item">
                  <h6 class="my-0">Utility</h6>
                  <small class="text-muted">The original Spliddit algorithm</small>
                </li>
              </ul>
              <br>
              </div>
              <br>
              <button class="btn btn-primary btn-lg btn-block mb-3" id="submitBtn" onclick="sendResult();event.preventDefault();">Submit</button>
          </div>
          <div class="container hidden" id="result">
            <div class="py-5 text-center mb-4">
              <h2>Result</h2>
              <p class="lead">Here we go! (refresh to start over)</p>
            </div>
          </div>
          <br>
          <br>
        </div>
      </div>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/Chart.min.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/boostrap-slider.js') }}"></script>

    <script>
    var roomnames = ['roomname1', 'roomname2']
    var names = []
    var totalRent = 0
    var room_to_vals = {}
    var max_val = 0
    var min_val = Number.POSITIVE_INFINITY


    function addRow() {
        var parent = document.getElementById('roomnames');
        var child = document.createElement("div");
        child.class = "mb-3"
        var newnum = roomnames.length + 1
        var id = 'roomname' + newnum
        child.innerHTML =  '<input type="text" class="form-control" id="' + id +'" required> <div class="invalid-feedback"> Please enter room name </div> <br>'
        roomnames.push(id)
        parent.appendChild(child);

    }

    function setup() {
      var valuation = document.getElementById('valuation');
      valuation.classList.remove("hidden");
      var setup = document.getElementById('setup');
      setup.classList.add("hidden");
      totalRent = document.getElementById('totalRent').value;
      createValuationRows();
    }

    function createValuationRows(){
      var valueAccordion = document.getElementById('valueAccordion');

      for(var i = 0; i < roomnames.length; i ++){
        var card = document.createElement('div');
        card.setAttribute('class', 'card');
        // card.setAttribute('style', "width: 960px;");
        valueAccordion.appendChild(card);

        var cardHeader = document.createElement('div');
        cardHeader.setAttribute('class', 'card-header');
        cardHeader.id = "cardHeader" + i
        card.appendChild(cardHeader);

        var h5 = document.createElement('h5');
        h5.setAttribute('class', "mb-0");
        cardHeader.appendChild(h5);

        var cardBtn = document.createElement('button');
        cardBtn.setAttribute('data-toggle', "collapse");
        cardBtn.setAttribute('class', "btn btn-link");
        cardBtn.type = "button";
        cardBtn.setAttribute('data-target',  "#collapse"+i);
        cardBtn.setAttribute('aria-controls', "collapse"+i,);
        cardBtn.innerHTML = "Roommate " + i;
        if(i != 0){
          cardBtn.setAttribute('class', "btn btn-link collapsed");
          cardBtn.setAttribute('aria-expanded',"false");
        }else{
          cardBtn.setAttribute('class', "btn btn-link");
          cardBtn.setAttribute('aria-expanded',"true");
        }
        h5.appendChild(cardBtn);


        var collapse = document.createElement('div');
        collapse.setAttribute('class' , "collapse");
        collapse.id = "collapse" + i;
        collapse.setAttribute('aria-labelledby',  "cardHeader" + i);
        collapse.setAttribute('data-parent',"#valueAccordion");

        var table = document.createElement('table');
        table.setAttribute('class','table table-striped table-md');
        table.setAttribute('id','valueTable' + i);
        table.innerHTML = '<thead> <tr id="valueHeadRow'+ i+'"> <th>Name</th> </tr> </thead><tbody id="valueTableBody' + i+ '"></tbody>'
        collapse.appendChild(table);

        var form = document.createElement('form');
        form.setAttribute('class','form-group');

        collapse.append(form);

        var priority_label = document.createElement('label');
        priority_label.setAttribute('for','priorityLabel'+i);
        priority_label.innerHTML = '<h5>I care about </h5> 0: Only Price,  5: Both,  10: Only room'
        form.appendChild(priority_label);

        var select = document.createElement('select');
        select.setAttribute('class', 'form-control ');
        select.setAttribute('defaultValue', 5);
        select.setAttribute('id', 'priorityVal'+i);

        for(var k=0; k <= 10; k ++){
          var option =   '<option>' + k + '</option>';
          if(k == 5){
            option =   '<option selected="selected">' + k + '</option>';
          }
          select.innerHTML += option;
        }
        form.appendChild(select);
        card.appendChild(collapse);

        var bodyRow = document.createElement("tr")
        var bodyColName = document.createElement("td")
        bodyColName.class = "col-md-2 mb-3"
        bodyColName.innerHTML = '<input type="text" class="form-control" id="p'+ i + '" placeholder="" value="" required>'
        bodyRow.appendChild(bodyColName)

        for(var j=0; j<roomnames.length; j++) {
            var head = document.createElement("th");
            head.innerHTML = document.getElementById(roomnames[j]).value
            var headRow = document.getElementById('valueHeadRow'+i);
            headRow.appendChild(head);

            var bodyCol = document.createElement("td")
            bodyCol.class = "col-md-2 mb-3"
            bodyCol.innerHTML = '<input type="text" class="form-control" id="p'+ i + 'r' + j + '" placeholder="" value="" required>'
            bodyRow.appendChild(bodyCol)

        }
        table.appendChild(bodyRow);
      }

    }

    function sendResult() {
        var agent_to_valuations = {};
        var roomCount = roomnames.length;
        var agent_to_priority = {};
        for(var i=0; i<roomCount; i++) {
          var name = document.getElementById('p'+i).value;
          names.push(name);
          var vals = [];
          for(var j=0; j<roomCount; j++) {
            var val = parseFloat(document.getElementById('p'+i+'r'+j).value);
            if(max_val < val){
              max_val = val
            }
            if(min_val > val){
              min_val = val
            }
            if(i == 0){
              room_to_vals[j] = [];
            }
            room_to_vals[j].push(val);
            vals.push(val);
          }
          if(method = 'PriorityMethod'){
            agent_to_priority[name] = parseFloat(document.getElementById('priorityVal'+i)) / 10;
          }
          agent_to_valuations[name] = vals;
        }
        var method = document.getElementById("method").options.value;
        if(method == 'Price'){
          method = 'MaxMinPriceMethod'
        }else if(method == 'Utility'){
          method = 'MaxMinUtilityMethod'
        }else if(method == 'Demand'){
          method = 'MinMaxDemandMethod'
        }else{
          method = 'PriorityMethod'
        }

        var response =  { "n": roomCount, "total_rent": parseFloat(totalRent), "method": method, "agent_to_valuations" : agent_to_valuations};
        if (method == 'PriorityMethod'){
          response['agent_to_priority'] = agent_to_priority;
        }

        console.log(response);
        var result = {}
        $.post('/receiver', JSON.stringify(response), function(data, status) {
          if (status == 'success') {
            console.log(data);
            showResult(data);
          }else{
            showError("There was en arror!")
          }
        }, "json");
       event.preventDefault();
    }

    function showError(mesage){
      var valuation = document.getElementById('valuation');
      var errorDiv = document.createElement('small');
      errorDiv.class = "text-muted";
      errorDiv.innerHTML = message;
      valuation.appendChild(errorDiv);
    }

    function showResult(data){
      var setup = document.getElementById('valuation');
      setup.classList.add("hidden");
      var result = document.getElementById('result');
      result.classList.remove("hidden");
      var room_to_person = {}
      for(var i=0; i < names.length; i ++){
        room_to_person[data[names[i]]['room']] = names[i]
      }

      for(var i=0; i<roomnames.length; i++){
          var chart = document.createElement("canvas");
          chart.id = "resultChart" + i
          var room_name = document.getElementById(roomnames[i]).value
          result.appendChild(chart);
          var name = room_to_person[i];
          var room_price = Array(roomnames.length).fill(data[name]['price']);
          if (min_val < 100){
            min_val = 0
          }else{
            min_val -= 100
          }

          new Chart(chart, {
            type: 'bar',
            data: {
              labels: names,
              datasets: [{
                label: 'Valuation',
                data: room_to_vals[i],
                backgroundColor: [
                                'rgba(54, 162, 235, 0.2)',
                                'rgba(255, 206, 86, 0.2)',
                                'rgba(75, 192, 192, 0.2)',
                                'rgba(153, 102, 255, 0.2)',
                                'rgba(255, 159, 64, 0.2)'
                                  ],
                borderColor: [
                                'rgba(54, 162, 235, 1)',
                                'rgba(255, 206, 86, 1)',
                                'rgba(75, 192, 192, 1)',
                                'rgba(153, 102, 255, 1)',
                                'rgba(255, 159, 64, 1)'
                             ],
                borderWidth: 1
              // }]
              },{
                label: 'Price',
                data: room_price,
                type: 'line'
              }],
            },
            options: {
                title: {
                   display: true,
                   text: room_name + " : " + name + " with Price $" + data[name]['price'].toFixed(2),
                   fontFamily: 'Helvetica Neue',
                   fontSize: 20,
                   padding: 10,
                },
                legend: {
                   display: true,
                   labels: {
                      fontColor: 'rgb(255, 99, 132)'
                   }
                },
                scales: {

                    yAxes: [{
                              ticks: {
                                      callback: function(value, index, values) {
                                          return '$' + value;
                                      },
                                      max: max_val,
                                      min: min_val,
                                    },
                              stacked: true,
                              display: true,
                  						scaleLabel: {
                  							display: true,
                  							labelString: 'Valuation'
                  						}
                            }]
               },
               legend: {
                   labels: {
                       fontColor: "grey",
                       fontSize: 18
                   }
               },
               elements: {
                    point:{
                        radius: 0
                    }
                }
          }
        });
      }
    }
    </script>

  </body>
</html>





<!-- <a href="" id="theButton">Click Me</a> -->
